body,
#root {
	width: 100%;
	height: 100vh;
	background-color: rgb(43, 43, 43);
	display: flex;
	align-items: center;
	justify-content: center;
}

.Blackjack {
	height: 60%;
	width: 60%;
	background-color: #993366;
	border-radius: 5px;
}

.Blackjack h1 {
	text-align: center;
	color: beige;
}

.Display {
	margin: 1rem;
	padding: 2rem;
	background-color: lightblue;
	height: 2rem;
	text-align: center;
	border-radius: 5px;
}

.GameArea {
	margin: 1rem;
	height: 40%;
	background-color: lightgreen;
	border-radius: 5px;
	display: flex;
}

.InputArea {
	display: flex;
	justify-content: center;
}

.GameButton {
	width: 5rem;
	height: 3rem;
	margin: 1rem;
	border-radius: 5px;
	background-color: transparent;
	color: greenyellow;
	border: 2px solid greenyellow;
}

.Card {
	height: 6rem;
	width: 4rem;
	border: 1px solid black;
	border-radius: 5px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
