* {
	font-family: 'Times New Roman', Times, serif;
}

body,
#root {
	width: 100%;
	height: 100vh;
	background-color: rgb(43, 43, 43);
	display: flex;
	align-items: center;
	justify-content: center;
}

.Blackjack {
	height: 80%;
	width: 90%;
	background-color: rgb(153, 50, 102);
	border-radius: 5px;
}

.Blackjack h1 {
	text-align: center;
	color: beige;
	text-transform: uppercase;
	font-size: 2rem;
}

.Display {
	margin: 1rem;
	padding: 1rem;
	background-color: rgb(194, 194, 181);
	height: 2rem;
	text-align: center;
	border-radius: 5px;
	box-shadow: 1px 1px 2px 1px inset black;
	font-size: 1.5rem;
}

.Display > p {
	margin: 0;
	padding: 0;
}

.GameArea {
	margin: 1rem;
	height: 60%;
	background-color: #03777a;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	gap: 0.1rem;
	box-shadow: 1px 1px 2px 1px inset black;
}

.InputArea {
	display: flex;
	justify-content: center;
}

.GameButton {
	width: 8rem;
	height: 3rem;
	margin: 1rem;
	border-radius: 5px;
	color: black;
	background-color: rgb(194, 194, 181);
	font-size: 1.2rem;
	text-transform: uppercase;
}

.GameButton:hover {
	border: 3px solid rgb(194, 194, 181);
	box-shadow: 1px 1px 3px 1px inset black;
	opacity: 100%;
}

.Card {
	height: calc(6.5em + 12px);
	width: calc(5rem + 9px);
	border: 1px solid black;
	border-radius: 5px;
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(194, 194, 181);
}

.Card > h2 {
	margin: 0;
}
.Card > p {
	margin: 0.8rem;
	font-size: 10px;
}

.Card > img {
	max-width: 5rem;
	border-radius: 3px;
	box-shadow: 2px 2px black;
}
